<div class="container-fluid background">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5">
        <h2 class="text-center text-white mb-4">Number To Text Convertor</h2>
        <form [formGroup]="form">
          <div class="form-group">
            <label for="numberInput" class="text-white">Enter a number :</label>
            <input 
              type="text" 
              id="numberInput" 
              name="numberInput" 
              class="form-control mb-3" 
              formControlName="numberInput" 
              (input)="onInput()"
              [class.is-invalid]="showError"
            >
            <div *ngIf="showError" class="invalid-feedback text-white">
              <div *ngIf="form.get('numberInput')?.errors?.['required']">Number is required.</div>
              <div *ngIf="form.get('numberInput')?.errors?.['invalidNumberFormat']">Number format should be up to 9 digits before decimal and up to 2 digits after decimal and decimal separator should be ','.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="textOutput" class="text-white">Text of the number :</label>
            <label id="textOutput" class="form-control mb-3 fancy-label">{{ text }}</label>
          </div>
        </form>
      </div>
    </div>
  </div>
  
 
  